:root {
  --bg-color: #dce6f0;
}

:root.dark {
  --bg-color: #000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.cards {
  display: flex;
  flex-flow: row wrap;
}

@media (max-width: 640px) {
  .cards {
    flex-flow: column wrap;
    gap: 1rem;
  }
}

.card {
  flex-basis: calc(100% / 3 - 3%);
  border-radius: 0.3rem;
  border: solid 1px var(--bg-color);
  margin: calc(3% / 3 - 1px);
}

.card-header {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: var(--bg-color);
  border: solid 1px var(--bg-color);
  padding: 0.8rem;
}

.card-body {
  padding: 0.8rem;
}

.box {
  width: 50px;
  height: 50px;
  background: #ccc;
  border: 1px solid #000;
  margin: auto;
}
