.section h1 {
  font-size: 26px;
  color: rgba(0,0,0,.85);
}

.section h2 {
  margin-bottom: 4px;
  font-size: 19px;
}

.section h3 {
  color: rgba(0,0,0,.7);
  font-size: 17px;
}

.profile-detail .title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 1.2em;
}

.button {
  width: 100px;
  margin: auto;
  background-color: #0084bf;
  color: #fff;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
}

.button:hover {
  background-color: #0073b1;
}
