body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-flow: row wrap;
}

.example {
  box-sizing: border-box;
  width: 300px;
  padding: 1rem;
}

.example .name {
  font-weight: bold;
  font-size: 1.5rem;
}

.nowrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.container {
  display: flex;
  transition: all .4s;
  border: 1px solid #000;
}

@media (max-width: 640px) {
  html.dark .container {
    border-color: #fff;
  }
}

.item {
  margin: 1%;
  padding: .4rem;
  width: 48%;
  box-sizing: border-box;
  min-height: 2rem;
  background: #888;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
}
