.box {
  height: 200px;
  width: 200px;
  margin: 1rem;
  display: inline-block;
}

@media (max-width: 640px) {
  .box {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
  }
}

.bwbg {
  background-image: radial-gradient(#000, #fff);
}

.bwsidebg {
  background-image: radial-gradient(circle at center, #000, #fff);
}

.greytranspbg {
  background-image: radial-gradient(circle at 10px 10px, rgba(0, 0, 0, .70), transparent);
}

.bluegreenbg {
  background-image: radial-gradient(farthest-corner at 40px 40px, rgba(0, 145, 200, .6), rgba(1, 193, 120, .6));
}
