body {
  max-width: 1000px;
  margin: auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

@media (max-width: 700px) {
  body {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  body {
    grid-template-columns: 1fr;
  }
}

.card {
  width: 100%;
}

.bg {
  height: 200px;
}
.radial-g-black-white {
  background-image: radial-gradient(#000, #fff);
}

.radial-g-black-white-center {
  background-image: radial-gradient(circle at center, #000, #fff);
}

.radial-g-grey-transparent {
  background-image: radial-gradient(circle at 10px 10px, #6b7280, transparent);
}

.radial-g-blue-green {
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #0091c899,
    #01c17899
  );
}
