main {
  font-family: Arial, Helvetica, sans-serif;
  width: 700px;
  margin: auto;
  font-size: 21px;
  line-height: 1.6;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:focus, a:hover {
  text-decoration: underline;
}

a[href^="http"] {
  background-image: url('../img/external-link-16.png');
  background-repeat: no-repeat;
  background-position: 100% 5px;
  padding-right: 19px;
}