body {
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  background: #2ecc71;
  color: #000;
  font-weight: bold;
  font-size: 3em;
  width: 250px;
  height: 150px;
  margin: 50px;
}

.flex-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}