/* light mode */
:root {
  --background-color: #fff;
  --text-color: #000;
}

/* dark mode */
html.dark {
  --background-color: #0d1117;
  --text-color: #f7f8f8;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

h1 {
  padding: '20px';
}
