body {
  font-family: Arial, Helvetica, sans-serif;
}

.cards {
  display: flex;
  flex-flow: row wrap;
}

.card {
  flex-basis: calc(100% / 3 - 3%);
  border-radius: 0.3rem;
  border: solid 1px #dce6f0;
  margin: calc(3%/3 - 1px);
}

.card-header {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #dce6f0;
  border: solid 1px #dce6f0;
  padding: 0.8rem;
}

.card-body {
  padding: 0.8rem;
}

.box {
  width: 50px;
  height: 50px;
  background: #ccc;
  border: 1px solid #000;
  margin: auto;
}