body {
  margin: 0;
  background: #eee;
  font-family: 'Roboto', sans-serif;
}

.site-title {
  box-shadow: 0 0 1px 1px #000;
  background-color: #383838;
  background-image: radial-gradient(#4a4949 15%, #383838 35%);
  background-size: 3px 3px;
  text-align: center;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.site-title h1 {
  margin: 0;
}

.site-content {
  display: grid;
  grid-template-columns: 8fr;
}

.projects {
  margin: 3rem 1rem;
  display: grid;
  grid-template-columns: minmax(300px, 360px);
  grid-gap: 1rem;
  justify-content: center;
}

.projects .project {
  padding: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 15rem;
}

.projects .project .project-title {
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  color: #383838;
  border-bottom: 2px solid #fff;
}

.projects .project .project-title:hover {
  border-bottom-color: #383838;
}

.projects .project .project-image {
  text-decoration: none;
  min-height: 158px;
}

.projects .project .project-image img {
  margin-bottom: 0.5rem;
  width: 302px;
}

.projects .project .project-tags {
  margin: 1rem 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.projects .project .project-tags li {
  margin: 0.1rem 0.2rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.1rem 0.3rem;
}
/***********************/
/*  TODO COMPONENTE 1  */
/***********************/
@media all and (min-width: 700px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (min-width: 1000px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media all and (min-width: 1300px) {
  .projects {
    grid-template-columns: repeat(6, 1fr);
  }
}
/***********************/
/***********************/
/***********************/

.filters {
  padding: 3rem 1rem;
  border-left: #000 solid 1px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.filters h2 {
  padding-right: 1rem;
  margin: 0;
  font-size: 1.25rem;
}

.project-filter {
  margin-bottom: 1rem;
}

.filters .values {
  display: flex;
  flex-flow: column;
  margin-bottom: 1rem;
}

.filters select {
  width: 150px;
}

.filters .topics-filter{
  display: flex;
  flex-direction: column;
}
/***********************/
/*  TODO COMPONENTE 2  */
/***********************/

@media all and (min-width: 800px){
  .filters .values {
    flex-flow: row;  
  }
}
@media all and (min-width: 1200px){
  .filters .topics-filter{
    flex-direction: row;
  }
}
/***********************/
/***********************/
/***********************/

/***********************/
/*  TODO COMPONENTE 3  */
/***********************/
.site-title .tit1{
  animation: titulo1 3s;
}

.site-title .tit2{
  animation: titulo2 3s;
}

@keyframes titulo1{
  from{
    transform: translateX(-200px);
    opacity: 0;
  }
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes titulo2{
  from{
    transform: translateX(200px);
    opacity: 0;
  }
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}
/***********************/
/***********************/
/***********************/

/***********************/
/*  TODO COMPONENTE 4  */
/***********************/

.project img {
  transition: transform 0.5s;
  will-change: transform;
}

.project img:hover {
  transform: translateY(-10px);
}

#search:focus{
  transition: transform 1s;
  transform: scale(1.2);
}