* {
  border-color: var(--color-primary) !important;
}

.separate {
  border-collapse: separate;
  border-spacing: 0.5rem;
}

.collapse {
  border-collapse: collapse;
}

td {
  border: 1px solid #000;
}
