body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-flow: column;
}

.example {
  box-sizing: border-box;
  padding: 1rem;
}

.example .name {
  font-weight: bold;
  font-size: 1.5rem;
}

.container {
  display: flex;
  transition: all .4s;
  width: 410px;
  border: 1px solid #000;
}

@media (max-width: 640px) {
  html.dark .container {
    border-color: #fff;
  }
}

.shrink-0 {
  flex-shrink: 0;
}

.shrink-3 {
  flex-shrink: 3;
}

.item {
  margin: .2rem;
  padding: .4rem;
  width: 50%;
  min-height: 2rem;
  background: #888;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
}
