body {
  background-color: #80deea;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #fff;
  padding: 30px;
  width: 50%;
}

main form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 
    "cep cep city state neighborhood"
    "street street street street number";
  grid-gap: 1rem;
}

main form .form-group {
  display: flex;
  flex-direction: column;
}

main form .cep {
  grid-area: cep;
}

main form .street {
  grid-area: street;
}

main form .number {
  grid-area: number;
}

main form .neighborhood {
  grid-area: neighborhood;
}

main form .state {
  grid-area: state;
}

main form .city {
  grid-area: city;
}

main form label {
  font-size: .9rem;
  font-weight: bold;
  margin-bottom: .3rem;
}

main form input {
  outline: none;
  height: 1.5rem;
}
