.shadow {
  color: #f74646;
  font-weight: bolder;
  font-size: 6em;
  text-shadow: -2px 0 0 #fff, -1px -1px 0 #fff, 0 -2px 0 #fff, 1px -1px 0 #fff,
    2px 0 0 #fff, 1px 1px 0 #fff, 0 2px 0 #fff, 12px 16px 0 #00ac94;
}
