body {
  margin: 0;
}

main {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

main>* {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.article {
  text-align: left;
  background: deepskyblue;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

.aside {
  flex: 1 auto;
}

.article {
  flex: 3 0px;
}
.aside-1 {
  order: 1;
}
.article {
  order: 2;
}
.aside-2 {
  order: 3;
}
.footer {
  order: 4;
}