@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../webfonts/Roboto/Roboto-Regular.ttf);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 960px;
  margin: auto;
}

/* header */
header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 85%;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

header nav a {
  margin: 0 .5rem;
  padding: .5rem 1rem;
  text-decoration: none;
  color: #868686;
}

header nav a.active {
  background-color: #e76924;
  color: #fff;
  border-radius: 4px;
}

/* slide */
.slide {
  background-image: url(../img/slide1.png);
  background-position: center;
  background-size: cover;
  height: 450px;
}

.slide .container {
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.slide p {
  margin: .3rem;
  padding: .5rem 1rem;
  background-color: #104286;
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
}

/* service */
.head {
  margin: 5rem auto 4rem;
  color: #394b50;
}

.head .title {
  margin: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
}

.head .subtitle {
  text-align: center;
  font-size: .8rem;
}

.services {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 6rem;
}

.services .service {
  margin-bottom: 3rem;
  display: flex;
  width: 50%;
  color: #7b7b7b;
}

.services .service .description {
  padding: 0 1.5rem;
}

.services .service .description h1 {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: normal;
}

.services .service .description p {
  font-size: .8rem;
}

/* about */
.about {
  display: flex;
  color: #fff;
  background-color: #ffc40c;
}

.about .image {
  width: 50vw;
  background-image: url(../img/about.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.about .content {
  box-sizing: border-box;
  width: 50vw;
  padding: 4rem 2rem 2rem;
}

.about .content h1 {
  text-transform: uppercase;
}

.about .content p {
  line-height: 1.5rem;
  font-size: .8rem;
  margin-bottom: 7rem;
} 

/* data */
.data {
  font-size: .9rem;
  margin: 4rem auto 6rem; 
  color: #707070;
}

.data .title {
  color: #394b50;
  margin: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
}

.data .subtitle {
  text-align: center;
  font-weight: normal;
  font-size: .9rem;
}

.data div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data table {
  border-collapse: collapse;
  width: 49%;
  margin: .5%;
  text-align: left;
}

.data table td,
.data table th {
  border: 1px solid #707070;
  padding: .4rem .5rem;
}

.data table td:last-child,
.data table td:first-child,
.data table th:last-child {
  text-align: center;
}

.data img {
  width: 44%;
  margin: 3%
}

/* social */
.social ul {
  list-style-type: none;
  display: flex;
}

.social a {
  margin: 0 .5rem;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social .facebook {
  background-color: #4b64a6;
}

.social .google-plus {
  background-color: #df4a32;
}

.social .twitter {
  background-color: #00abf1;
}

.social .youtube {
  background-color: #c4302a;
}

.footer {
  border-top: 1px solid #e0e0e0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer address {
  font-style: normal;
  color: #707070;
}

/* copyright */

.footer .copyright {
  padding: 1.5rem;
  font-size: .8rem;
  background-color: #828282;
  text-align: center;
  color: #fff;
}