body {
  margin: 0;
}

.parent {
  position: relative;
  width: 200px;
  height: 100px;
  border: 3px solid #000;
}

.child {
  position: absolute;
  width: 100px;
  top: 0px;
  bottom: 0px;
  background-color: lime;
}
