---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import { CLASSNOTE_SLUGS } from '../consts';

const classnoteOrder = (classnote: string) =>
  CLASSNOTE_SLUGS.indexOf(classnote) + 1;

const classroomEntries = await getCollection('classnotes', ({ slug }) =>
  CLASSNOTE_SLUGS.includes(slug)
);

classroomEntries.sort(
  (a, b) => classnoteOrder(a.slug) - classnoteOrder(b.slug)
);
---

<BaseLayout pageTitle="Conteúdos">
  <main class="mx-auto">
    <h1 class="font-bold text-4xl text-center pb-16 pt-24">Conteúdos</h1>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 pb-16 px-4"
    >
      {
        classroomEntries.map((entry) => (
          <a href={`/lm/${entry.slug}`}>
            <div class="rounded border-gray-400 bg-white dark:bg-slate-800 dark:hover:bg-gray-700 dark:border-white/30 dark:border transition-all duration-300 p-4 overflow-hidden shadow-lg">
              <h1 class="font-semibold text-lg">
                <span class="text-gray-400">#{classnoteOrder(entry.slug)}</span>{' '}
                <span>{entry.data.title}</span>
              </h1>
            </div>
          </a>
        ))
      }
    </div>
  </main>
</BaseLayout>
