body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-flow: row wrap;
}

.example {
  box-sizing: border-box;
  min-width: 285px;
  padding: 1rem;
}

.example .name {
  font-weight: bold;
  font-size: 1.5rem;
}

.row-wrap {
  flex-flow: row wrap;
}

.row-nowrap {
  flex-flow: row nowrap;
}

.row-reverse-nowrap {
  flex-flow: row-reverse nowrap;
}

.row-reverse-wrap-reverse {
  flex-flow: row-reverse wrap-reverse;
}

.column-reverse-nowrap {
  flex-flow: column-reverse nowrap;
}

.column-nowrap {
  flex-flow: column nowrap;
}

.container {
  display: flex;
  transition: all .4s;
  border: 1px solid #000;
}

@media (max-width: 640px) {
  html.dark .container {
    border-color: #fff;
  }
}

.item {
  margin: 1%;
  padding: .4rem;
  width: 48%;
  box-sizing: border-box;
  min-height: 2rem;
  background: #888;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
}
