body {
  margin: 0;
  font-family: sans-serif;
}

.navigation {
  background-color: #42A5F5;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.navigation li {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.navigation li:hover,
.navigation li:active {
  background-color: #90CAF9;
  cursor: pointer;
}

.navigation li a {
  color: #fff;
  text-decoration: none;
}

@media all and (min-width: 700px) {
  .navigation {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media all and (min-width: 1000px) {
  .navigation {
    justify-content: flex-end;
  }
}