.container {
  display: grid;
  height: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  grid-template-areas: "a a b" ". . b";
}

.item {
  background: #ccc;
}

.item-a {
  grid-area: a;
}

.item-b {
  grid-area: b;
}