body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

header {
  height: 25vh;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: tomato;
  background-image: url(../img/clock.jpg);
  background-position: 0 -100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background: tomato url(../img/clock.jpg) 0 -100px / cover no-repeat fixed; */
  background-blend-mode: multiply;
}

header h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #efefef;
  text-shadow: 1px 1px 0 #ccc, 2px 2px 0 #c9c9c9, 3px 3px 0 #bbb,
    4px 4px 0 #b9b9b9, 5px 5px 0 #aaa, 6px 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.3),
    3px 3px 5px rgba(0, 0, 0, 0.2), 5px 5px 10px rgba(0, 0, 0, 0.25),
    10px 10px 10px rgba(0, 0, 0, 0.2), 20px 20px 20px rgba(0, 0, 0, 0.15);
  color: #e0eff2;
  text-shadow: 5px 7px 0 #0a0e27, 7px 9px 0 tomato;
}

@media (max-width: 640px) {
  .header h1 {
    font-size: 1.5rem;
  }
}

main {
  width: 55%;
  margin: 50px auto;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

@media (max-width: 640px) {
  main {
    width: 100%;
  }
}

main p {
  margin: 1.8rem;
}
