---
import { Code } from 'astro/components';
import tree from 'tree-node-cli';
import { existsSync } from 'node:fs';
import { resolve } from 'node:path';

export interface Props {
  src?: string;
  content?: string;
}

const { src, content } = Astro.props;

const codeTree = existsSync(resolve('./public' + src))
  ? tree(resolve('./public' + src))
  : 'Code not found';
---

<div class="dark-code-theme">
  <Code code={content ?? codeTree} theme="github-dark" />
</div>
<div class="light-code-theme">
  <Code code={content ?? codeTree} theme="github-light" />
</div>
