---
import { readFile } from '../helpers/files';
import Iframe from './Iframe.jsx';

const { src, height, isShowIframe = true } = Astro.props;
---

<div class="code-preview overflow-hidden">
  {
    src && isShowIframe ? (
      <Iframe src={`/lm${src}`} height={height} client:load />
    ) : src ? (
      <Fragment set:html={readFile('./public' + src)} />
    ) : (
      <slot />
    )
  }
</div>

<style>
  .code-preview {
    @apply bg-white dark:bg-[#0d1117] rounded p-4;
  }
</style>
