---
import Iframe from './Iframe.jsx';

const { src } = Astro.props;
---

<div class="code-preview overflow-hidden">
  {src ? <Iframe src={`/lm${src}`} client:load /> : <slot />}
</div>

<style>
  .code-preview {
    @apply bg-white dark:bg-[#0d1117] rounded p-4;
  }
</style>
