---
import { Icon } from 'astro-icon';
import ThemeToggle from './ThemeToggle';
---

<header
  class="fixed w-full top-0 z-50 shadow-sm bg-gray-100 dark:bg-slate-800 dark:border-b-white/30 dark:border-b"
>
  <section class="px-4 py-2">
    <nav class="flex items-center justify-between">
      <a class="text-lg font-bold font-heading" href="/lm/">
        <span class="md:hidden">LM</span>
        <span class="max-sm:hidden">Linguagem de Marcação</span>
      </a>

      <div class="flex items-center gap-2">
        <ThemeToggle client:load />
        <a class="hover:text-gray-500" href="https://github.com/ifpb/lm/">
          <Icon name="mdi:github" size={28} class="github-project-link" />
        </a>
        <button
          data-drawer-target="default-sidebar"
          data-drawer-toggle="default-sidebar"
          aria-controls="default-sidebar"
          type="button"
          class="menu-icon text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        >
          <span class="sr-only">Abrir menu</span>
          <Icon
            name="heroicons-outline:menu-alt-2"
            size={28}
            class="menu-alt-icon"
          />
        </button>
      </div>
    </nav>
  </section>
</header>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
    return 'light';
  })();

  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
  } else {
    document.documentElement.classList.add('dark');
  }

  window.localStorage.setItem('theme', theme);

  document.querySelector('.menu-icon').addEventListener('click', () => {
    document.querySelector('#default-sidebar').classList.toggle('hidden');
  });
</script>

<style is:global>
  header .menu-alt-icon path {
    stroke-width: 2;
  }
</style>
