<aside
  id="default-sidebar"
  class="sticky top-10 z-40 w-full md:w-40 xl:w-64 self-start shadow-md bg-gray-100 dark:shadow-gray-500 hidden lg:block"
  aria-label="Sidebar"
>
  <div class="md:h-screen px-3 py-4 overflow-y-auto">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          href="/lm/"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          Disciplina
        </a>
      </li>
      <li>
        <a
          href="/lm/classnotes/"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          Conteúdos
        </a>
      </li>
    </ul>
  </div>
</aside>
