---
import { MENU } from '../consts';
---

<aside
  id="default-sidebar"
  class="fixed z-50 left-0 top-11 md:h-screen w-full md:w-40 xl:w-64 self-start shadow-md bg-gray-100 dark:bg-slate-800 hidden dark:border-r-white/30 dark:border-r lg:block"
  aria-label="Sidebar"
>
  <div class="md:h-screen px-3 py-4 overflow-y-auto">
    <ul class="space-y-2 font-medium">
      {
        MENU.map((item) => (
          <li>
            <a
              href={item.url}
              class="flex items-center p-2 text-gray-500 rounded-lg dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 transition-all duration-300"
            >
              {item.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</aside>

<style is:global>
  aside a.active {
    @apply text-gray-900 font-bold bg-gray-200 dark:bg-gray-700;
  }
</style>

<script is:inline>
  document.querySelectorAll('#default-sidebar a').forEach((el) => {
    if (el.href === window.location.href) {
      el.classList.add('active');
    } else {
      el.classList.remove('active');
    }
  });
</script>
