table{
	text-align: center;
	font-family : "Times New Roman", Times, serif;
	width: 20%;
	font-size: 12px;	
	background-color: rgb(240,248,255);
}

th,td{
	border: 1px solid black;
	padding: 5px;
}
th, tr:hover{
	background-color: rgb(168, 218, 213);
}