body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    background-color: whitesmoke;
    font-size: 1.1rem;
 }

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 5%;
}

header img{
    width: 100px;
}

header .menu ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
header .menu ul li{
    font-size: 1rem;
    font-style: italic;
    margin: 7px;
    border-right: 1.5px solid #d3d3d3;
    border-bottom: 1.5px solid #d3d3d3;
    padding: 2px;
}
header .menu a{
    text-decoration: none;
    color: black;
}

header .menu a:hover{
    font-weight: 600;
}

/*********************/
/* TODO COMPONENTE 1 */
/*********************/
@media screen and (min-width:400px){
    header .menu ul{
        flex-direction: row;  
    }
}

@media screen and (min-width:600px){
    header{
        flex-direction: row;    
    }
}

@media screen and (min-width:850px){
    header{
        justify-content: space-between;
    }
}
/******** FIM DO COMPONENTE 1 ********/

.testemunhos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
    grid-gap: 1%; 
}
.testemunho{
    background-color: #d3d3d3;
    border-radius: 5px;
    padding: 3rem;
    display: flex;
    flex-direction: column;      
}
.testemunho .icone{
    text-align: center;
}
.testemunho i{
    font-size: 3em;
    color: blue;
}
.testemunho .declaracao{
    font-style: italic;
}

.testemunho .aluno{
    font-weight: bold;
    font-size: .8em;
    text-align: right;
}

/*********************/
/* TODO COMPONENTE 2 */
/*********************/

@media screen and (min-width:400px){
    .testemunhos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,1fr);
    }    
}

@media screen and (min-width:800px){
    .testemunhos{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }    
}
@media screen and (min-width:1200px){
    .testemunhos{
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: 1fr;
    }    
}

/******** FIM DO COMPONENTE 2 ********/

/*********************/
/* TODO COMPONENTE 3 */
/*********************/

.banner{
    background-color: rgb(105, 112, 247);
    background-image: url("img/texto.jpg");
    background-position: 0 -100px;
    background-size: cover;
    background-blend-mode: overlay;
    background-attachment: fixed;
}
/******** FIM DO COMPONENTE 3 ********/

.banner h1{
    text-align:center;
    font-size: 3.5em;
    color: whitesmoke;
    padding: 50px 50px;
    text-shadow:#d3d3d3 5px 2px;
}

.notas{
    background-color: #8CC7FF;
    padding: 40px;
}
.notas table{
    font-size: 1.3em;
    margin: auto;
    border-collapse: collapse;
    width: 30%;
    border-color: whitesmoke;
    text-align: left;
}
.notas table thead tr{
    border-bottom: 3px solid whitesmoke;
}
.notas table tbody tr{
    border-bottom: 1px solid whitesmoke;
}
.notas table tbody tr:hover{
    background-color: blue;
    color: whitesmoke;
    font-weight: bold;
}

footer{
    background-color: black;
    color: whitesmoke;
    margin-bottom: 0;
    height: 100px;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
}
