body {
  background-color: #e9eff5;
  font-family: Arial, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

body>div {
  color: #000;
  background-color: #fff;
  width: 80%;
  min-width: 960px;
  margin: 50px auto;
  padding: 10px 16px 16px 16px;
}

h1 a {
  color: #0079bf;
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

table td,
table th {
  padding: 1%;
}

table thead th {
  border-bottom: 2px solid #ddd;
}

table tbody tr {
  border-bottom: 1px solid #ddd;
}

table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: lightgrey;
  font-weight: bold;
}
