.text-red {
  color: #cd201f;
}

.text-green {
  color: #5eba00;
}

.text-muted {
  color: #6c757d;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cards {
  width: 960px;
  margin: auto;
}

.card {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  background-color: #fff;
  padding: 0.75rem;
  margin-bottom: 1rem;
}