body {
  font-family: Arial, sans-serif;
}

h1 {
  margin: 1rem;
  font-size: 1.5rem;
}

.container {
  box-sizing: border-box;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #000;
  min-width: calc(4 * 2rem + 8 * .6rem + 3rem);
}

@media (max-width: 640px) {
  html.dark .container {
    border-color: #fff;
  }
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.item {
  margin: .2rem;
  padding: .4rem;
  min-width: 2rem;
  min-height: 2rem;
  background: #888;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
}
