body {
  max-width: 1000px;
  margin: auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

@media (max-width: 700px) {
  body {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  body {
    grid-template-columns: 1fr;
  }
}

.card {
  width: 100%;
}

.box-filter {
  height: 133px;

  background-image: url(../img/computer.jpg);
  background-size: cover;
  background-color: rgba(1, 193, 120, 0.9);
}

.blur {
  filter: blur(5px);
}

.brightness {
  filter: brightness(0.4);
}

.contrast {
  filter: contrast(200%);
}

.drop-shadow {
  filter: drop-shadow(16px 16px 20px blue);
}

.grayscale {
  filter: grayscale(50%);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.invert {
  filter: invert(75%);
}

.opacity {
  filter: opacity(25%);
}

.saturate {
  filter: saturate(30%);
}

.sepia {
  filter: sepia(60%);
}
