a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: #2bdfbb;
}

a:visited {
  color: #156f5d;
}

a:active {
  color: #df2b4f;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
