body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-flow: column;
}

.example {
  box-sizing: border-box;
  min-width: 450px;
  max-width: 600px;
  padding: 1rem;
}

.example .name {
  font-weight: bold;
  font-size: 1.5rem;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.container {
  display: flex;
  transition: all .4s;
  border: 1px solid #000;
}

@media (max-width: 640px) {
  html.dark .container {
    border-color: #fff;
  }
}

.item {
  margin: 1%;
  padding: .4rem;
  width: 4rem;
  box-sizing: border-box;
  min-height: 2rem;
  background: #888;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
}
