body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-flow: row wrap;
}

.example {
  box-sizing: border-box;
  width: calc(4 * 4rem);
  padding: 1rem;
}

.example .name {
  font-weight: bold;
  font-size: 1.5rem;
}

.item.item-auto {
  align-self: auto;
  background-color: aqua;
  color: black;
}

.item.item-flex-start {
  align-self: flex-start;
  background-color: aqua;
  color: black;
}

.item.item-flex-end {
  align-self: flex-end;
  background-color: aqua;
  color: black;
}

.item.item-center {
  align-self: center;
  background-color: aqua;
  color: black;
}

.item.item-baseline {
  align-self: baseline;
  background-color: aqua;
  color: black;
}

.item.item-stretch {
  align-self: stretch;
  background-color: aqua;
  color: black;
}

.container {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  height: 10rem;
}

@media (max-width: 640px) {
  html.dark .container {
    border-color: #fff;
  }
}

.item {
  margin: 1%;
  padding: 0.4rem;
  width: 4rem;
  box-sizing: border-box;
  min-height: 2rem;
  background: #888;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
}

.item-1 {
  height: 50%;
}

.item-3 {
  height: 40%;
}

.item-4 {
  height: 70%;
}
