body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-flow: row wrap;
}

.example {
  box-sizing: border-box;
  width: calc(4 * 4rem);
  padding: 1rem;
}

.example .name {
  font-weight: bold;
  font-size: 1.5rem;
}

.flex-start {
  align-items: flex-start;
}

.flex-end {
  align-items: flex-end;
}

.center {
  align-items: center;
}

.baseline {
  align-items: baseline;
}

.stretch {
  align-items: stretch;
}

.container {
  display: flex;
  border: 1px solid #000;
  height: 10rem;
}

@media (max-width: 640px) {
  html.dark .container {
    border-color: #fff;
  }
}

.item {
  margin: 1%;
  padding: .4rem;
  width: 4rem;
  box-sizing: border-box;
  min-height: 2rem;
  background: #888;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
}

.text-3 {
  font-size: 3rem;
}

.item-1 {
  min-height: 50%;
}

.item-2 {
  min-height: 60%;
}

.item-3 {
  min-height: 40%;
}

.item-4 {
  min-height: 70%;
}
